.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0px 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    height: 340px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 2rem;
    font-weight: bolder;
    color: #3A244A;
}

.red {
    color: #D72638;
}

.underline {
    text-decoration: underline;
    font-size: 1rem;
    cursor: pointer;
}

input {
    width: 275px;
    padding: 10px 15px 10px 15px;
    border: none;
    border-bottom: 0.5px solid #f4eaea;
}

input::placeholder {
    color: gray;
}

img {
    /* border:2px solid red; */
    max-width: 800px;
    max-height: 100vh;
}

.button {
    padding: 10px;
    color: white;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    border: 2px solid #3A244A;
    cursor: pointer;
}

.buttonnn {
    padding: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1rem;
    border: 2px solid #3A244A;
    cursor: pointer;
    color: #3A244A;
    background-color: white;
}

@media screen and (max-width:500px){
    img {
    width: 450px;
}
}
@media screen and (max-width:400px){
    img {
    width: 350px;
}
}
