.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
}
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #1a1919;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
    width: 100%;
}
.img{
    width: 100px;
    height: 50px;
}
.logout{
    border:1px solid white;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
h1{
    margin-top: 100px;
    font-size: 2rem;
}
